.dow h3 {
  display: inline;
  padding: 2px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}

.month {
  max-width: 23rem;
  background-color: rgb(163, 138, 105);
  margin: 0 0.4rem;
  border-radius: 0.6rem;
}

.month-heading {
  background-color: rgb(204, 196, 183);
}

.month-title {
  text-align: center;
  padding: 0.8rem;
  margin: 0;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month-col {
  column-span: 1;
  text-align: center;
  margin: 0.8rem 0;
}

.birthday {
  background-color: gold;
}

.birthday-2 {
  background-color: pink;
}
.birthday-3 {
  background-color: silver;
}
.holiday {
  background-color: brown;
}
